/* General Styles */
body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    background-color: #000000;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* Header Styles */
header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 20px;
}

h1 span {
    color: rgb(237,234,234); 
}

header nav {
    display: inline-block;
}

header nav a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: rgb(237,234,234);
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    color: #FF4500;
}

/* Main section styles */
main {
    margin-top: 50px;
    text-align: center;
}

/* Quote Styles */
#quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 20px;
    width: 60%;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#quote {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: #FFD700;
    text-align: center;
}

/* Footer Styles */
footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #FFFFFF;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto;
}

td {
    padding: 15px;
    vertical-align: top;
    text-align: left;
}

td:first-child {
    width: 15%;
    text-align: center;
}

table img {
    display: block;
    margin: 10px auto;
    width: 500px;
    height: auto;
}

#logo {
    display: inline-block;
    height:200px;
    width:200px;
}

form {
    background-color: #333333;  /* Dark background to match the theme */
    border-radius: 12px;  /* Rounded corners */
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* Subtle shadow */
}

form h2 {
    font-color: #FFD700;
    text-align: center;
}

form p {
    text-align: center;
    font-size: 50px;
    color: #f0f0f0;
    margin-bottom: 30px;
}
